/* Project CSS 
============================================================
============================================================*/


html { font-size: 62.5%; }
body {
	margin: 0;
	background: #fff;
	font: 1.6em/1.4 sans-serif;
	color: #999999;
	font-weight: 100;
}

header, section, footer {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	
}
section, footer {
	padding: 0 2rem;
	background: #B0C4DE;
}




h1 { 
	margin: 0;
	padding: 5rem 0 1rem 0;
	font-size: 4rem;
	font-weight: 900;
	text-transform: uppercase;
	color: #ffffff;
}
h2 { 
	margin: 0 0 1rem 0;
	font-size: 2.4rem;
	font-weight: 900;	
	color: #666666;
	text-transform: uppercase; 
}

h3 { 
	color: #777777;
	margin: 2rem 0 0 0;
	font-weight: 600; 
	text-transform: uppercase;
}


dl { margin-bottom: 2rem; }
dt {
	margin-right: 1rem;
	clear: left;
}
dt, dd { 
	float: left;
}

/* unvisited link */
	a:link {
		color: #F0E68C;
	}

/* visited link */
	a:visited {
		color: #dc143c;
	}

/* mouse over link */
	a:hover {
    	color: #fff;
	}

/* selected link */
	a:active {
		color: #0000FF;
	}





/* HOW MIGHT I BUILD THIS */





/* HEADER */
header img {
	max-width: calc(100% / 3);
}




/* ABOUT */
#about {
	padding: 0;
	border: solid 2rem #ADD8E6;
	overflow: hidden;
	text-align: center;
}
#about h1 { 
	color: #FF4500; 
	font-weight: 900;
}
#about p, #nav {
	z-index: 1;
	margin: 0;
	padding: 3rem;
	color: #FDF5E6;
	background: #708090;
}

/*Component Navigation*/

	/*Changing the size/line height/alignment in the Table of Contents*/
	#nav {
		width: 100%;
		height: .9%;
		line-height: 30px;
		text-align: center;
	}

	/*Eliminates the padding from the list*/
	#about ul {
		padding: 0px;
	}

	/*Losing the bullets and padding the Table*/
	#nav li {
		list-style-type: none;
		margin-left: 2%;
		display: inline;
	}



/* COMPONENTS */
article {
	position: relative;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 3rem;
	background: #fafafa;
}
article:nth-of-type(1) { margin-top: 0; }
article.featured { border: solid 1rem #FF4500; }
article.featured::before {
	content: "Featured";
	display: block;
	padding: 1rem 1.5rem;
	position: absolute; top: 2.35rem; left: -8rem;
	background: #FF4500;
	color: #ffffff;
	text-transform: uppercase;

    /*-ms-transform: rotate(-90deg);  
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);	
}*/

article img	{
	display: block;
	width: 100%;
	margin-bottom: 3rem;
	background: #cccccc;
	border: solid 2px #eaeaea;
}

/*FOR SOME REASON, THIS TAG WOULD NOT ERASE THE MARGIN TO CONNECT THE BOTTOM OF THE ARTICLE TO THE FOOTER*/
/*article #signUp{
	margin-bottom: 0;*/
}
/* COMPONENT ACTIONS */


/* DROP-DOWN ============================== */





/* FOOTER */
footer {

}
footer a { 
	
}