/* Component Stylesheet 
============================================================
============================================================*/

#description{
	border: 1px solid #000;
}

#form{
	margin: 20px;
}

#todos{
	margin: 40px;
	font-size: 1.5em;
}

#check{
	margin-right: 10px;
}

button{
	background-color: white;
}

li{
	list-style-type: none;
}
