/* Component Stylesheet 
============================================================
============================================================*/

#description{
	border: 1px solid #000;
}

#form{
	margin: 20px;
}

#todos{
	margin: 40px;
	font-size: 1.5em;
}

