<!DOCTYPE html>
<html>
<head>
	<title>WSP Header: Justin Weisner</title>
	<meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>


	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
<header>
		<h1>Logo or Brand Name</h1>

		<nav>
		<ul>
			<li><a href="#">Home</a>
			</li>
			<li class="current">
				<a href="#">About Us</a>				
			</li>
			<li>
				<a href="#">Services</a>
				<ul>
					<li>
						<a href="#">Beach Holidays</a>
					</li>
					<li>
						<a href="#">Group Holidays</a>
						
					</li>
					<li>
						<a href="#">Romantic Breaks</a>
					</li>
					<li>
						<a href="#">Dog Friendly</a>
					</li>
					<li>
						<a href="#">Unusual Holidays</a>
					</li>
				</ul>	
			</li>
			<li>
				<a href="#">Gallery</a>	
			</li>
			<li>
				<a href="#">
			</li>			
			<li>
				<!-- Search Preview -->
				<form class="search-form">
                    <label class="search_label">
                        <input type="search" placeholder="Search" results="0" class="search_input"/>
                    </label>
                </form>

			</li>
		</ul>
		</nav>

	</header>

</body>
</html>