<!DOCTYPE html>
<html>
<head>
	<title>WSP Responsive Images: Justin Weisner</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<section id="header">
			
		<h2> Gallery</h2>
	
	</section>
	
	<section id="gallery">
		<img src="images/nature1.jpg" width="300" height="240" alt="" /></a>
		<img src="images/nature2.jpg" width="300" height="240" alt="" /></a>
		<img src="images/nature3.jpg" width="300" height="240" alt="" /></a>
		<img src="images/nature4.jpg" width="300" height="240" alt="" /></a>
		<img src="images/nature5.jpeg" width="300" height="240" alt="" /></a>
		<img src="images/nature6.jpg" width="300" height="240" alt="" /></a>
		<img src="images/nature7.jpg" width="300" height="240" alt="" /></a>
		<img src="images/nature8.jpg" width="300" height="240" alt="" /></a>
	</section>
</body>
</html>